<h1>Flight Booker</h1>

<h3>Search Flights</h3>
<%= form_with(url: flights_path, method: :get) do |form|%>
    <%= form.label :departure_code, "Departure Airport" %>
    <%= form.select :departure_code, @departure_airports, include_blank: true %><br><br>
    <%= form.label :arrival_code, "Arrival Airport" %>
    <%= form.select :arrival_code, @arrival_airports, include_blank: true %><br><br>
    <%= form.label :num_tickets, "Tickets" %>
    <%= form.select :num_tickets, [1, 2, 3, 4] %><br><br>
    <%= form.label :date %>
    <%= form.select :date, @dates, include_blank: true %><br><br>
    <%= form.submit "Search"%>
<% end %> 

<% if @flight_list %>
    <h3>Results</h3>
    <% if !@flight_list.empty? %> 
        <%= form_with(url: new_booking_path, method: :get) do |form| %>
            <% @flight_list.each do |flight| %>
                <div>
                    <%= form.radio_button :id, flight[:id] %>
                    <%= form.label "id_#{flight[:id]}", "#{flight[:departure_code]} -> #{flight[:arrival_code]}, #{flight[:date].to_datetime.to_fs(:long)}" %>
                </div>
            <% end %>
            <%= form.hidden_field :num_tickets, value: @num_tickets %><br>
            <%= form.submit "Select"%>
        <% end %>
    <% else %>
        <div>No results found.</div>
    <% end %>
<% end %>