<%= link_to "Home", root_path %>
<%= form_with model: @booking do |form| %>
    <h2>
        <%= "#{@flight[:departure_code]} to #{@flight[:arrival_code]}"%>
    </h2>
    <div>
        <%= "#{@flight[:date].to_datetime.to_fs(:long)}" %>
    </div><br>
    <h3>Booking Details</h3>
    <%= form.hidden_field :flight_id, value: @flight[:id]%>    
    <div data-controller="passenger-field">
        <button type="button" data-action="passenger-field#add">Add Passenger</button><br><br>
        <div class="passenger-fields-container">
            <%= form.fields_for :passengers do |passengers_form| %>
                <div class="passenger-field-container" data-passenger-field-target="fields">
                    <b><%= "Passenger #{passengers_form.index + 1}: " %></b>
                    <button type="button" style="margin-left: 100px;" data-action="passenger-field#remove">Remove</button>
                    <li>
                        <%= passengers_form.label :name %><br>
                        <%= passengers_form.text_field :name %><br>

                        <%= passengers_form.label :email %><br>
                        <%= passengers_form.text_field :email %><br><br>
                    </li>
                </div>
            <% end %>
        </div>
        <template data-passenger-field-target="template">
            <%= form.fields_for :passenger do |passengers_form| %>
                <div class="passenger-field-container" data-passenger-field-target="fields">
                    <b></b>
                    <button type="button" style="margin-left: 100px;" data-action="passenger-field#remove">Remove</button>
                    <li>
                        <%= passengers_form.label :name %><br>
                        <%= passengers_form.text_field :name %><br>

                        <%= passengers_form.label :email %><br>
                        <%= passengers_form.text_field :email %><br><br>
                    </li>
                </div>
            <% end %>
        </template>    
    </div>
    <%= form.submit %>
<% end %>