<%= link_to "Home", root_path %>

<h1>Booking #<%= @booking[:id] %></h1>
<h2>Flight:</h2>
<div>
    <%= @booking.flight.departure_airport.code + " to " + @booking.flight.arrival_airport.code %>
</div>
<div>
    <%= @booking.flight.start.to_datetime.to_fs(:long) %>
</div>
<h2>Passengers:</h2>
<% @booking.passengers.each do |passenger| %>
    <li>
    <%= "Name: #{passenger.name}" %><br>
    <%= "Email: #{passenger.email}" %>
    </li><br>
<% end %>